<small className="d-inline-block mr-1">
    <% if (type === 'voted_on_a_poll_you_voted') {%>
        <% if (agreesWithYou) { %>
            <b className="forDirect white px-1 rounded">Agreed</b>
        <%} else { %>
            <b className="againstDirect white px-1 rounded">Disagreed</b>
        <%}%>
        with you on
        <a class="white" target="_blank" href="www.liquid-vote.com/<% if (question.questionType === 'single') { %>poll<% } else { %>multipoll<%}%>/<%=question.questionText%>/<%=group.handle%>">
            <b className="white"><%=question.questionText%><% if(choiceText) { %>: <%=choiceText%> <% } %></b>
        </a>
    <%} else if (type === 'followed_you') {%>
        Followed you
    <%} else if (type === 'voted_on_a_poll') {%>
        Voted on
        <a class="white" target="_blank" href="www.liquid-vote.com/<% if (question.questionType === 'single') { %>poll<% } else { %>multipoll<%}%>/<%=question.questionText%>/<%=group.handle%>">
            <b className="white"><%=question.questionText%><% if(choiceText) { %>: <%=choiceText%> <% } %></b>
        </a>
        <% if (inviterUser.LiquidUser.handle === toUser.LiquidUser.handle) { %>
                <small>
                    by your invite
                    <% if (typeof agreesWithYou !== undefined) { %>
                        <% if (agreesWithYou) { %>
                            <b className="forDirect white px-1 rounded">Agreeing</b>
                        <%} else { %>
                            <b className="againstDirect white px-1 rounded">Disagreeing</b>
                        <%}%>
                        with you
                    <% } %>
                </small>
        <% } %>

    <%} else if (type === 'invited_you_to_vote_on_a_poll') {%>
        Invited you to vote on
        <a class="white" href="<%=inviteLink%>">
            <b className="white"><%=question.questionText%></b>
        </a>

    <%} else if (type === 'invited_you_to_vote_on_profile') {%>
        Invited you to vote with
        <a class="white" href="<%=inviteLink%>">
            <% if (user.LiquidUser.handle !== actionUser.LiquidUser.handle) { %>
                <b className="white"><%=user.LiquidUser.name%></b>
            <% } else { %>
                <b className="white">him</b>
            <% } %>
        </a>

    <%} else if (type === 'invited_you_to_vote_on_group') {%>
        Invited you to vote on
        <a class="white" href="<%=inviteLink%>">
            <b className="white"><%=group.name%></b>
        </a>
    <% } %>
</small>
